<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   IDETemplateMacros.plist
   TimeChallenge

   Created by LiuY on 2018/6/28.
   Copyright (c) 2019 DeveloperLY. All rights reserved.
-->
<plist version="1.0">
	<dict>
   		<key>FILEHEADER</key>
		<string>   
//  ___FILENAME___
//  ___PACKAGENAME___
//   
//  Created by LiuY on ___DATE___.
//  ___COPYRIGHT___
//</string>
	</dict>
</plist>
